{% extends 'share_layout/base_layout.html' %}
{% block header %}
    <title> {{ title }}</title>
{% endblock %}
{% block content %}
    <!-- Page Subtitle -->
    <div id="subtitle">

        <!-- 960 Container -->
        <div class="container">
            <div class="sixteen columns">
                <h3>成功</h3>
            </div>
        </div>
        <!-- End 960 Container -->

    </div><!-- End Page Subtitle -->

    <!-- 960 Container -->
    <div class="container">

        <header class="archive-header">

            <h2 class="archive-title"> {{ content }}</h2>
        </header><!-- .archive-header -->
        <br/>
        <header class="archive-header" style="text-align: center">

            <a href="{% url "account:login" %}">登录</a>
            |
            <a href="/">主页</a>
        </header><!-- .archive-header -->
    </div>
{% endblock %}