{% extends 'share_layout/base_layout.html' %}
{% load static %}
{% block content %}

    <!-- Page Subtitle -->
    <div id="subtitle">

        <!-- 960 Container -->
        <div class="container">
            <div class="sixteen columns">
                <h3>Pricing Tables</h3>
            </div>
        </div>
        <!-- End 960 Container -->

    </div><!-- End Page Subtitle -->

    <!-- 960 Container -->
    <div class="container">
        <!-- Title -->
        <div class="sixteen columns">
            <h3 class="page_headline">Pricing Table</h3>
        </div>
    </div><!-- End 960 Container -->

    <!-- Pricing Table -->
    <div class="pricing-container">

        <div class="price-table-container">

            <div id="feature-list" class="column-pricing info-list">
                <div class="blank-header"></div>

                <ul>
                    <li>14 Day Free Trial</li>
                    <li>User Limit</li>
                    <li>Disc Limit</li>
                    <li>Transfer</li>
                    <li>Subdomain</li>
                    <li>Custom Email</li>
                    <li>SSL Security</li>
                </ul>

            </div>


            <div id="standard" class="column-pricing light">
                <h1>Standard</h1>
                <h2>$9.99</h2>
                <h3>per month</h3>

                <ul>
                    <li data-feature="14 Day Free Trial">Yes</li>
                    <li data-feature="User Limit">15</li>
                    <li data-feature="Disc Limit">10 GB</li>
                    <li data-feature="Transfer">100 GB</li>
                    <li data-feature="Subdomain">5</li>
                    <li data-feature="Custom Email"><span class="pricing_check yes"></span></li>
                    <li data-feature="SSL Security"><span class="pricing_check no"></span></li>
                </ul>
                <a href="#">Sign Up</a>
            </div>


            <div id="premium" class="column-pricing border-fix">
                <h1>Premium</h1>
                <h2>$29.99</h2>
                <h3>per month</h3>

                <ul>
                    <li data-feature="14 Day Free Trial">Yes</li>
                    <li data-feature="User Limit">30</li>
                    <li data-feature="Disc Limit">20 GB</li>
                    <li data-feature="Transfer">200 GB</li>
                    <li data-feature="Subdomain">10</li>
                    <li data-feature="Custom Email"><span class="pricing_check yes"></span></li>
                    <li data-feature="SSL Security"><span class="pricing_check yes"></span></li>
                </ul>
                <a href="#">Sign Up</a>
            </div>
            ?


            <div id="professional" class="column-pricing featured">
                <h1>Professional</h1>
                <h2>$69.99</h2>
                <h3>per month</h3>

                <ul>
                    <li data-feature="14 Day Free Trial">Yes</li>
                    <li data-feature="User Limit">60</li>
                    <li data-feature="Disc Limit">40 GB</li>
                    <li data-feature="Transfer">400 GB</li>
                    <li data-feature="Subdomain">20</li>
                    <li data-feature="Custom Email"><span class="pricing_check yes"></span></li>
                    <li data-feature="SSL Security"><span class="pricing_check yes"></span></li>
                </ul>
                <a href="#">Sign Up</a>
            </div>
            ?


            <div id="maximum" class="column-pricing">
                <h1>Maximum</h1>
                <h2>$99.99</h2>
                <h3>per month</h3>

                <ul>
                    <li data-feature="14 Day Free Trial">Yes</li>
                    <li data-feature="User Limit">100</li>
                    <li data-feature="Disc Limit">80 GB</li>
                    <li data-feature="Transfer">800 GB</li>
                    <li data-feature="Subdomain">40</li>
                    <li data-feature="Custom Email"><span class="pricing_check yes"></span></li>
                    <li data-feature="SSL Security"><span class="pricing_check yes"></span></li>
                </ul>
                <a href="#">Sign Up</a>
            </div>

        </div>
    </div>
    <div class="clearfix"></div>
    <!-- End Pricing Table -->

    <!-- 960 Container -->
    <div class="container">
        <!-- Title -->
        <div class="sixteen columns">
            <h3 class="page_headline">Regular Table</h3>
        </div>
    </div><!-- End 960 Container -->

    <!-- Regular Pricing Table -->
    <div class="pricing-container">

        <div class="price-table-container">

            <div id="standard" class="column-pricing light regular">
                <h1>Standard</h1>
                <h2>$9.99</h2>
                <h3>per month</h3>

                <ul>
                    <li>5 GB Storage</li>
                    <li>Free Live Support</li>
                    <li>Unlimited Users</li>
                    <li>No Time Tracking</li>
                    <li>Enhanced SSL Security</li>
                </ul>
                <a href="#">Sign Up</a>
            </div>


            <div id="premium" class="column-pricing border-fix regular">
                <h1>Premium</h1>
                <h2>$29.99</h2>
                <h3>per month</h3>

                <ul>
                    <li>5 GB Storage</li>
                    <li>Free Live Support</li>
                    <li>Unlimited Users</li>
                    <li>No Time Tracking</li>
                    <li>Enhanced SSL Security</li>
                </ul>
                <a href="#">Sign Up</a>
            </div>
            ?


            <div id="professional" class="column-pricing regular featured">
                <h1>Professional</h1>
                <h2>$69.99</h2>
                <h3>per month</h3>

                <ul>
                    <li>5 GB Storage</li>
                    <li>Free Live Support</li>
                    <li>Unlimited Users</li>
                    <li>No Time Tracking</li>
                    <li>Enhanced SSL Security</li>
                </ul>
                <a href="#">Sign Up</a>
            </div>
            ?


            <div id="maximum" class="column-pricing regular">
                <h1>Maximum</h1>
                <h2>$99.99</h2>
                <h3>per month</h3>

                <ul>
                    <li>5 GB Storage</li>
                    <li>Free Live Support</li>
                    <li>Unlimited Users</li>
                    <li>No Time Tracking</li>
                    <li>Enhanced SSL Security</li>
                </ul>
                <a href="#">Sign Up</a>
            </div>

        </div>
    </div>
    <div class="clearfix"></div>
    <!-- End Regular Pricing Table -->

    <!-- Invisible Spacer -->
    <div class="container clearfix spacer"></div>
{% endblock %}
