{% load static %}

<!-- Footer -->
<div id="footer">

    <!-- 960 Container -->
    <div class="container">

        <!--  Text Widget - 1/4 Columns -->
        <div class="six columns">
            <div id="footer-logo">
                <img src="{% static 'images/logo.png' %}" style="padding-top: 25px; height: 30px;" alt=""/>
            </div>
            <p>用真诚的心保证服务品质，以高标准的技术满足客户需求</p>
        </div>

        <!--  Contact - 1/4 Columns -->
        <div class="three columns">
            <h4>站点地图</h4>
            <div class="address">
                <a href="{{ SITE_BASE_URL }}/"> 首页</a>
            </div>
            <div class="address">
                <a href="{{ SITE_BASE_URL }}project/"> 案例</a>
            </div>
            <div class="address">
                <a href="{{ SITE_BASE_URL }}blog/"> 博客</a>
            </div>
        </div>

        <!--  Contact - 1/4 Columns -->
        <div class="three columns">
            <h4>友情链接</h4>
            <div class="address">
                <a href="https://github.com/felixyin"> GitHub</a>
            </div>
            <div class="address">
                <a href="http://www.tong-kuai.com/"> 痛快科技</a>
            </div>
            <div class="address">
                <a href="https://www.raisesky.com/"> 仁智互动</a>
            </div>
        </div>

        <!--  Contact - 1/4 Columns -->
        <div class="four columns">
            <h4>联系方式</h4>
            <div class="address">
                <strong>电话:</strong><a href="tel:15965585803"> 15965585803</a>
            </div>
            <div class="address">
                <strong>邮箱:</strong><a href="mailto:1052921694@qq.com"> 1052921694@qq.com</a>
            </div>
        </div>


    </div><!-- End 960 Container -->
</div>

<!--  Footer - Copyright-->
<div id="footer_bottom">
    <!-- 960 Container -->
    <div class="container">
        <div class="sixteen columns">
            <div class="copyright" style="text-align: center;">Copyright 2017. All Rights Reserved. Collect from
                <a href="#" target="_blank">尹彬的博客</a>
            </div>
        </div>
    </div><!-- End 960 Container -->
</div>
