{% extends 'share_layout/blog_layout.html' %}
{% load blog_tags %}
{% load cache %}
{% block header %}
    {% if tag_name %}
        {% if statuscode == '404' %}
            <title>404 NotFound</title>
        {% elif statuscode == '500' %}
            <title>Permission Denied</title>
        {% elif statuscode == '403' %}
            <title>500 Error</title>
        {% else %}
            <title></title>
        {% endif %}
        {% comment %}<meta name="description" content="{{ page_type }}:{{ tag_name }}"/>{% endcomment %}
    {% else %}
        <title>{{ SITE_NAME }} | {{ SITE_DESCRIPTION }}</title>
    {% endif %}
    <meta name="description" content="{{ SITE_SEO_DESCRIPTION }}"/>
    <meta name="keywords" content="{{ SITE_KEYWORDS }}"/>
    <meta property="og:type" content="blog"/>
    <meta property="og:title" content="{{ SITE_NAME }}"/>
    <meta property="og:description" content="{{ SITE_DESCRIPTION }}"/>
    <meta property="og:url" content="{{ SITE_BASE_URL }}"/>
    <meta property="og:site_name" content="{{ SITE_NAME }}"/>
{% endblock %}
{% block content %}
    <!-- Page Subtitle -->
    <div id="subtitle">
        <!-- 960 Container -->
        <div class="container">
            <div class="sixteen columns">
                <h3>系统发生错误</h3>
            </div>
        </div>
        <!-- End 960 Container -->
    </div><!-- End Page Subtitle -->

    <!-- 960 Container -->
    <div class="container">

        <header class="archive-header">
            <h1 class="archive-title">{{ message }}</h1>
        </header><!-- .archive-header -->

    </div><!-- #content -->

{% endblock %}


{% block sidebar %}
    {% load_sidebar user %}
{% endblock %}


